<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Order T-shirt - Order Detail</title>
	<!-- Favicon -->
	<link rel="icon" href="../assets/favicon.png" type="image/png">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	<!-- Icons -->
	<link rel="stylesheet" href="../assets/vendor/nucleo/css/nucleo.css" type="text/css">
	<link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
	<!-- Argon CSS -->
	<link rel="stylesheet" href="../css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<nav class="navbar navbar-top navbar-expand navbar-dark bg-default border-bottom">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="background-color: #ffffff;">
							<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
							<li class="breadcrumb-item active"><a href="/order">Order</a></li>
							<li class="breadcrumb-item" aria-current="page" th:text="${action}"></li>
						</ol>
					</nav>
					<!-- Navbar links -->
					<ul class="navbar-nav align-items-center  ml-md-auto ">

						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="ni ni-bell-55"></i>
							</a>

						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="ni ni-ungroup"></i>
							</a>
						</li>
					</ul>
					<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
						<li class="nav-item dropdown">
							<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<div class="media align-items-center">
									<span class="avatar avatar-sm rounded-circle">
										<img alt="Image placeholder" src="../assets/img/play_store_512.png">
									</span>
									<div class="media-body  ml-2  d-none d-lg-block">
										<span class="mb-0 text-sm  font-weight-bold">Sasina Intha</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Header -->
		<!-- Header -->
		<div class="header pb-6 d-flex align-items-center" style="min-height: 100px;">

		</div>
		<!-- Page content -->
		<div class="container-fluid mt--6">
			<form th:object="${customerOrder}" method="post">
				<div class="row">
					<div class="col-xl-12 order-xl-1">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col-8">
										<h3 class="mb-0" th:text="${action} + ' Order ' + ${orderNo}"></h3>
									</div>
									<div class="col-4 text-right">
										<button type="submit" name="saveOrder"
											class="btn btn-sm btn-info  mr-4 ">Save</button>
										<a href="/order" class="btn btn-sm btn-default float-right">Cancel</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<h6 class="heading-small text-muted mb-4">Customer information</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-name">Customer Name</label>
												<input type="text" id="input-name" th:value="${customerName}"
													th:field="*{customerName}" class="form-control"
													placeholder="FullName">
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-email">Email
													address</label>
												<input type="email" id="input-email" th:value="${customerEmail}"
													th:field="*{customerEmail}" class="form-control"
													placeholder="jesse@example.com">
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-first-name">Mobile</label>
												<input type="text" id="input-mobile" th:value="${customerMobile}"
													th:field="*{customerMobile}" class="form-control" placeholder="">
											</div>
										</div>
									</div>
								</div>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label" for="input-address">Address</label>
												<input id="input-address" class="form-control"
													th:value="${customerAddress}" th:field="*{customerAddress}"
													placeholder="Home Address" type="text">
											</div>
										</div>
									</div>
								</div>
								<hr class="my-4" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer pt-0">
		<div class="row align-items-center justify-content-lg-between">
			<div class="col-lg-6">
				<div class="copyright text-center  text-lg-left  text-muted">
				</div>
			</div>
		</div>
	</footer>
</body>

</html>